<!doctype html>
<html>
  <head>
    <title>Nick Hong, web dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora|Open+Sans">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet">
    <script src="https://use.fonticons.com/5ce5900b.js"></script>
  </head>
  <body>
    <!--
      Thanks for checking out my personal site!

      If you're curious about what I used to build it, its repo is here: https://github.com/nickick/nickhong.io
      Feel free to contact me about it!
    -->
    <div id="react-main-mount">
    </div>
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
