<!doctype html>
<html>
  <head>
    <title>Nick Hong, web dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora|Open+Sans">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div id="react-main-mount">
    </div>
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
