.hideable.content-section {
  display: none;
  background: $subtle-background;
  position: absolute;
  top: 0;
  z-index: 1;
  @include transform(translateZ(0));

  &.hiding {
    display: block;
    z-index: 1;
    height: 100%;
    overflow: visible;
    opacity: 0;
    @include backface-visibility(hidden);
    @include animation--hide;
  }

  &.showing {
    display: block;
    @include transform(translateY(0%));
    z-index: 5;
    @include animation--show;
  }

  &.hidden {
    z-index: 1;
  }

  &.show {
    display: block;
    height: 100%;
    overflow: visible;
    z-index: 5;
    @include transform(translateY(0%));
  }
}
