.projects {
  vertical-align: top;
}

.project {
  @include span-columns(4);
  @include omega(3n);

  @include media($mobile) {
    @include span-columns(3);
    @include omega();
  }

  box-shadow: 0 0.3rem 1rem hsla(0,0,0,.1);
  border: 1px solid #eee;
  padding: $container-padding;
  margin-bottom: 20px;
  background: #fbfbfb;

  .image-container {
    max-height: 150px;
    overflow: hidden;
  }

  .image {
    width: 100%;
    border: 1px solid #eee;
  }

  .title-link {
    text-decoration: none;
  }

  .title {
    color: $ocean-blue;
    font-size: 1.2rem;
    margin: 0 0 15px;
  }

  .description {
    text-align: left;
    font-size: 0.9em;
  }
}
