$green: #10e951;
$ocean-blue: #006bf6;
$gray-lightest: #ddd;
$text-shadow: 0 2px 2px hsla(0,0%,7%,.8);
$text-black: hsla(0,0,5%,.99);
$subtle-background: #fbfbfb;
$container-padding: 15px;
$mobile: new-breakpoint(max-width 500px 3);
