$green: #10e951;
$ocean-blue: #006bf6;
$gray-lightest: #ddd;
$text-black: hsla(0,0,25%,.99);
$subtle-background: #fbfbfb;
$container-padding: 15px;
$mobile: new-breakpoint(max-width 500px 3);
$red: #a9232a;
