@import '_variables';
@import '_animations';
@import 'neat';
@import '_hideable';
@import '_navigation';
@import '_intro';
@import '_projects';
@import '_resume';
@import '_contact';

.content {
  margin: 0 auto;
  width: 100%;
  position: relative;
  color: $text-black;

  @media print {
    margin-top: 0;
    color: black;
  }
}

.content-section {
  box-sizing: border-box;
  width: 100%;

  .contents {
    max-width: 800px;
    margin: 0 auto;
    position: relative;

    @include media($mobile) {
      padding: $container-padding;
      padding-top: 0;
    }
  }

  h3 {
    font-family: 'Lora', serif;
    display: block;
    text-align: center;
  }
}
