@import '_variables';
@import '_animations';
@import '_buttons';
@import 'neat';

.header-container {
  border-bottom: 1px solid $gray-lightest;
  @include media('print') {
    display: none;
  }
}

.header {
  $header-height: 100px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  @include media($mobile) {
    width: 100%;
    margin: 0 0;
  }

  @media print {
    display: none;
  }

  height: $header-height;
  line-height: $header-height;
  padding: 20px;

  .header-text {
    $padding-for-image: 10px;
    display: inline-block;
    line-height: 10px;
    vertical-align: middle;
    color: $text-black;
    position: relative;
    bottom: $padding-for-image;

    h1 {
      font-family: 'Lora', serif;
      margin-top: 0;
    }
  }

  .about-anchor {
    position: absolute;
    top: 0;
  }
}

.hire-me-container {
  text-align: center;
}
