@import 'normalize';
@import '_variables';
@import '_animations';
@import 'header';
@import 'content';

html,body,#react-main-mount,#react-app{
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: bolder;
}

a {
  color: $ocean-blue;
}
